@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Brand */
  --brand-primary: #1a3646;
  --brand-secondary: #555a60;
  --brand-accent: #93b073;

  /* Content */
  --brand-text: #383b3f;
  --brand-background: #ffffff;

  /* Business */
  --brand-marketing: #212b53;
  --brand-exclusivos: #9b7e54;
}

:root {
  /* Shadcn */
  --background: var(--brand-background);
  --foreground: var(--brand-text);

  --card: var(--brand-background);
  --card-foreground: var(--brand-text);

  --popover: var(--brand-background);
  --popover-foreground: var(--brand-text);

  --primary: var(--brand-primary);
  --primary-foreground: white;

  --secondary: var(--brand-secondary);
  --secondary-foreground: white;

  --accent: var(--brand-accent);
  --accent-foreground: white;

  --muted: color-mix(in oklab, var(--brand-accent), transparent 25%);
  --muted-foreground: var(--brand-background);

  --border: color-mix(in oklab, var(--brand-primary), transparent 75%);
  --input: var(--border);
  --ring: var(--brand-accent);

  --destructive: oklch(0.577 0.245 27.325);

  --radius: 0.625rem;
}

:root {
  /* Charts */
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);

  /* Sidebar */
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);

  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);

  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}
@theme inline {
  /* Brand */
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);

  --color-marketing: var(--brand-marketing);
  --color-exclusivos: var(--brand-exclusivos);

  /* Shadcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);

  /* Fonts */
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);

  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
}

body {
  font-family: var(--font-montserrat)
}

h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2.25rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.125rem;
}

p{
    font-size: 0.75rem; 
}

small{
    font-size: 0.625rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }
  html {
    @apply font-sans;

  }

}