@import "tailwindcss";

:root {
  /* Primary Colors */
  --primary: #1a3646;
  --secondary: #555a60;
  --accent: #93b073;

  /* Neutral Colors */
  --background: #ffffff;
  --foreground: #171717;
  --text: #383b3f;

  /* Anothers Colors */
  --marketing: #212b53;
  --exclusivos: #9b7e54;

}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);

  --color-marketing: var(--marketing);
  --color-exclusivos: var(--exclusivos);
  
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat)
}

h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2.25rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.125rem;
}

p{
    font-size: 0.75rem;
}

small{
    font-size: 0.625rem;
}
